<h3>But I'm looking for ____ !</h3>
<p>Setting up an advanced front-end search is high on my list of priorities (along with loading the data necessary to make the queries worthwhile).  However, doing it right takes time.</p>
<p>To browse the database, click on <b>Browse</b> in the navigation menu.</p>
<p>If you are looking for something in particular, click on <b>Data</b> in the navigation menu.  From there you can perform a joined search from any table in the database, just choose from the list on the right.</p>
<p>If you have any thoughts on how to best to search the database, <a href="mailto:jabauer@virginia.edu">let me know</a>.  I welcome all suggestions: everything from "I need to find all of John Quincy Adams' clerks" to "You should use acts_as_solr because..."</p>