<h1 class="construction">The EAFSD is a Work in Progress</h1>
<%= image_tag 'AmericanCommissioners.jpg', :class=>'construction', :alt=>'Painting of the American Peace Commissioners by Benjamin West (Unfinished)'%>
<p>Benjamin West was never able to complete his "American Commissioners of the Preliminary Peace Agreement with Great Britain" because the British commissioners refused to appear in the painting.  Hopefully the EAFSD will not suffer the same fate.</p>


