<p>Data Management Page<p>
	
<p>This page features a highly customized version of ActiveScaffold, a rails plugin that dynamically generates a web interface where the user can create, read, update, and delete individual and joined records in the database.  For security purposes, the most powerful features of ActiveScaffold (create, read, and delete) have been turned off, but you can still view and search every record in the database.</p>

<p>Click on one the tables listed on the right to begin.</p>

<p>To learn more about ActiveScaffold <a target="_blank" href="http://activescaffold.com">click here</a>. </p>