<h3>EAFSD Acknowledgements</h3>

<h4>Initial Launch: October 18, 2010</h4>

<p>Putting the EAFSD online represents a major milestone for both my research and software development.  While a great deal of work remains, I want to take this opportunity to thank the many people and institutions who have made this launch possible.</p>

<p>The EAFSD exists symbiotically with my dissertation, "Revolution-Mongers: Launching the U.S. Foreign Service, 1775-1825," a project that would be impossible without the expert guidance and support of my wonderful dissertation advisers, <a target="_blank" href="http://www.virginia.edu/history/user/46">Peter S. Onuf</a> and <a target="_blank" href="http://www.virginia.edu/history/user/54">J.C.A. Stagg</a>.</p>

<p>Holly Shulman introduced me to the field of digital humanities when she hired me to design a database for the <cite><a target="_blank" href="http://rotunda.upress.virginia.edu:8080/dmde/">Dolley Madison Digital Edition</a></cite>, and the seeds of that work and later projects, including <cite>People of the Founding Era</cite> with Holly and Sue Perdue at <a target="_blank"  href="http://documentscompass.org">Documents Compass</a>, are present in the data structure of Project Quincy, and by extension the EAFSD.  I am forever grateful to Holly for sharing her vision with me.</p>

<p>The EAFSD became a reality during my 2008-2009 Fellowship Year at the <a target="_blank" href="http://www.lib.virginia.edu/scholarslab/">University of Virginia Library's Scholars' Lab</a> &mdash; a remarkable birthing room for digitally enhanced scholarship in the humanities.  Bethany Nowviskie, Joe Gilbert and my fellow graduate students Abigail Holeman and Pierre Dairon provided invaluable feedback and encouragement as I worked through the data structure and interface design.</p>

<p>I also owe a great debt to my initial collaborators, Bess Sadler and Matt Mitchell, both former Heads of R&amp;D for the Scholars' Lab.  Bess taught me Ruby on Rails, reviewed my data structure, and packed me off to hear Edward Tufte's lectures on information design, which forever changed how I look at scholarship on the web.  After Bess left the Scholars' Lab, Matt provided expert Rails advice, streamlined my code, and wrote elegant solutions to seemingly intractable problems.</p>

<p>Even after my Scholars' Lab fellowship ended, Chris Gist and Kelly Johnston have happily fielded all my map related questions, no matter how simplistic.  Joe Gilbert and Wayne Graham continue to answer my repeated calls for help and have saved me from several disasters.</p>  

<p>Thanks to <a target="_blank" href="http://nowviskie.org">Bethany Nowviskie</a> for absolutely everything.</p>

<p>Following my year at the Scholars' Lab, I had the good fortune to become a <a target="_blank" href="http://www.nines.org">NINES</a> Graduate Fellow.  Andrew Stauffer, Dana Wheeles and my fellow students Kristin Jensen and Heather Bowlby gave me a new perspective on correspondence networks and textual displays as well as much needed encouragement.</p>

<p>Finally, I need to thank my parents, <a target="_blank" href="http://www.evanbauer.com">Evan</a> and <a target="_blank" href="http://www.joanbauer.com">Joan Bauer</a>.  My father has been designing databases since before I was born, and his fingerprints are all over Project Quincy and the EAFSD.  At the same time, my mom, brilliant novelist and wordsmith, has kept me grounded in the people and stories that make the past come alive.</p>